entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Programming Test"

[[workflows.workflow]]
name = "Run Calculator"
author = 39555485

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python advanced_calculator.py"

[[workflows.workflow]]
name = "Run Turtle"
author = 39555485

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python turtle_guide.py"

[[workflows.workflow]]
name = "Run Guides"
author = 39555485

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_guides.py"

[[workflows.workflow]]
name = "Run Directory Guide"
author = 39555485

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python directory_guide.py"

[[workflows.workflow]]
name = "Run PyEnv Guide"
author = 39555485

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python pyenv_guide.py"

[[workflows.workflow]]
name = "Run AI Guide"
author = 39555485

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python ai_guide.py"

[[workflows.workflow]]
name = "Run SQL Guide"
author = 39555485

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python sql_guide.py"

[[workflows.workflow]]
name = "Run Menu"
author = 39555485

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_guides.py"

[[workflows.workflow]]
name = "Packages Guide"
author = 39555485

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python packages_guide.py"

[[workflows.workflow]]
name = "Programming Test"
author = 39555485

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python programming_test.py"

[[ports]]
localPort = 8080
externalPort = 80
